<a href="https://colab.research.google.com/github/CodeGoManish/Data-Science/blob/main/Computing_with_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: 2 and 3 code practia;l

# Code Practical 2: Calculate the sum of numbers in a list

numbers = [1, 2, 3, 4, 5]
sum_of_numbers = sum(numbers)
print("The sum of the numbers is:", sum_of_numbers)


# Code Practical 3: Check if a number is even or odd

number = 7

if number % 2 == 0:
  print(number, "is even.")
else:
  print(number, "is odd.")

Series sorted on index:
a     5
b     7
c     2
d     8
e    10
dtype: int64

Series sorted on values:
c     2
a     5
b     7
d     8
e    10
dtype: int64

In [ ]:
import pandas as pd
series = pd.Series([2, 4, 6, 2, 8, 6, 3, 7, 4, 5])
min_ranks_first = series.rank(method='first')
max_ranks_max = series.rank(method='max')
print("Series:")
print(series)
print("\nMinimum ranks (using 'first' method):")
print(min_ranks_first)
print("\nMaximum ranks (using 'max' method):")
print(max_ranks_max)

Series:
0    2
1    4
2    6
3    2
4    8
5    6
6    3
7    7
8    4
9    5
dtype: int64

Minimum ranks (using 'first' method):
0     1.0
1     4.0
2     7.0
3     2.0
4    10.0
5     8.0
6     3.0
7     9.0
8     5.0
9     6.0
dtype: float64

Maximum ranks (using 'max' method):
0     2.0
1     5.0
2     8.0
3     2.0
4    10.0
5     8.0
6     3.0
7     9.0
8     5.0
9     6.0
dtype: float64

In [ ]:
# Create a sample series
series = pd.Series([10, 5, 8, 2, 7])
# Find index value of the minimum element
min_index = series.idxmin()
# Find index value of the maximum element
max_index = series.idxmax()
print("Index value of the minimum element:", min_index)
print("Index value of the maximum element:", max_index)

Index value of the minimum element: 3
Index value of the maximum element: 0

In [ ]:
import pandas as pd
import numpy as np
data = np.random.randn(50, 3)
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])
null_indices = np.random.choice(df.index, size=int(0.1 * len(df)), replace=False)
for idx in null_indices:
  col_idx = np.random.randint(0, 3)
df.iloc[idx, col_idx] = np.nan
missing_values_count = df.isnull().sum()
print("Missing values count:")
print(missing_values_count)

Missing values count:
Column1    1
Column2    0
Column3    0
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
data = np.random.randn(8, 3)
df = pd.DataFrame(data, columns=['Column1', 'Col2', 'Col3'])
null_indices = np.random.choice(df.index, size=int(0.1 * len(df)), replace=False)
for idx in null_indices:
  col_idx = np.random.randint(0, 2)
df.iloc[idx, col_idx] = np.nan
df=df.dropna(axis=1, thresh=2)
print(df)

    Column1   Column2   Column3
0 -0.139919  1.041177 -0.946582
1 -0.272576 -1.604588 -1.106281
2 -0.876993  0.763414 -0.150942
3 -1.291807  0.812170  0.382872
4 -1.412956 -0.127847 -0.151271
5       NaN  1.054240 -0.445902
6 -1.320213 -0.244216 -0.638647
7 -0.228262 -0.677472  1.062047

In [ ]:
import pandas as pd
import numpy as np
data = np.random.randn(8, 3)
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])
null_indices = np.random.choice(df.index, size=int(0.1 * len(df)), replace=False)
for idx in null_indices:col_idx = np.random.randint(0, 2)
df.iloc[idx, col_idx] = np.nan
row_sums = df.sum(axis=1)
max_row_label = row_sums.idxmax()
df = df.drop(index=max_row_label)
print(df)

    Column1   Column2   Column3
0 -0.355955  1.060483  0.610955
1 -0.620804  1.836314 -1.750958
2  1.768765  0.560859 -0.227283
3  1.470487  0.459659       NaN
4  0.954051  1.120742 -1.462374
6 -0.468689 -1.532331  0.740086
7 -0.770427  0.849304 -0.888919

In [ ]:
import pandas as pd
import numpy as np
data = np.random.randn(8, 3)
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])
null_indices = np.random.choice(df.index, size=int(0.1 * len(df)), replace=False)
for idx in null_indices:
  col_idx = np.random.randint(0, 2)
  f.iloc[idx, col_idx] = np.nan
df_sorted = df.sort_values(by='Column1')
print(df_sorted)

    Column1   Column2   Column3
3 -1.433287  0.252422  1.105436
4 -1.279501 -1.631613 -2.084274
6 -0.685992 -0.276412 -1.280892
7 -0.358015 -2.565821  0.917281
5  0.241479  0.733592 -0.275490
0  0.447179  1.548202 -0.792107
2  0.718904 -0.615151 -0.646293
1  1.124571 -0.019464  1.220894

In [ ]:
#d. Sort the data frame on the basis of the first column.
import pandas as pd
import numpy as np
data = np.random.randn(8, 3)
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])
null_indices = np.random.choice(df.index, size=int(0.1 * len(df)), replace=False)
for idx in null_indices:
  col_idx = np.random.randint(0, 2)
  df.iloc[idx, col_idx] = np.nan
df_unique=df.drop_duplicates(subset=['Column1'])
print(df_unique)

    Column1   Column2   Column3
0 -1.261734  1.193327  0.358199
1  0.244990  1.184883 -2.086713
2 -0.435090 -1.255491  1.119890
3 -0.364294 -0.488614  0.406042
4  0.006158  1.145265 -1.441479
5  0.786087  0.119033 -0.385241
6 -0.171355 -0.929375  0.651950
7 -0.113042  1.012893  0.834764

In [ ]:
# Remove all duplicate  from the first column
import pandas as pd
import numpy as np
data = np.random.randn(10, 3)
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])
null_indices = np.random.choice(df.index, size=int(0.1 * len(df)), replace=False)
for idx in null_indices:
  col_idx = np.random.randint(0, 2)
  df.iloc[idx, col_idx] = np.nan
  # Calculate correlation between first and second column
  correlation_first_second = df['Column1'].corr(df['Column2'])
  # Calculate covariance between second and third column
  covariance_second_third = df['Column2'].cov(df['Column3'])
  print("Correlation between first and second column:", correlation_first_second)
  print("Covariance between second and third column:", covariance_second_third)

Correlation between first and second column: 0.11877225593099569
Covariance between second and third column: 0.1870720959552358

In [ ]:
import pandas as pd
import numpy as np
data = np.random.randn(10, 3)
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])
null_indices = np.random.choice(df.index, size=int(0.1 * len(df)), replace=False)
for idx in null_indices:
  col_idx = np.random.randint(0, 2)
  df.iloc[idx, col_idx] = np.nan
  df['Column2_bins'] = pd.cut(df['Column2'], bins=5)
  print(df)

    Column1   Column2   Column3      Column2_bins
0 -0.219445  1.878764 -0.997912    (1.427, 2.118]
1 -0.967335       NaN  0.820005               NaN
2  0.981046  0.272841 -0.372352   (0.0453, 0.736]
3  0.007140 -1.336210  0.521948   (-1.34, -0.645]
4  0.331523  0.155833  0.633290   (0.0453, 0.736]
5 -0.106501 -1.288498 -0.927076   (-1.34, -0.645]
6  1.507319 -0.255334 -1.625392  (-0.645, 0.0453]
7 -0.618811  2.117546 -0.826920    (1.427, 2.118]
8  0.620701  0.901846 -0.460628    (0.736, 1.427]
9 -0.479244  0.971793  1.166268    (0.736, 1.427]